# Any configuration value is only changed the first time it is set.
# Thus, host-specific definitions should be at the beginning of the
# configuration file, and defaults at the end.

Host hb
    # Public static IP
    HostName 143.107.58.80

    # Local static IP
    #HostName 172.16.10.5

Host eve
    # Local static IP
    HostName 172.16.10.6
    ProxyJump hb

Host antp
    # Local static IP
    HostName 172.16.10.7
    ProxyJump hb

Host *
    User your-username
    Compression yes
