# Any configuration value is only changed the first time it is set.
# Thus, host-specific definitions should be at the beginning of the
# configuration file, and defaults at the end.

Host eve
    # Public static IP
    HostName 143.107.58.80

    # Local static IP
    #HostName 172.16.10.6

Host antp
    # Local static IP
    HostName 172.16.10.7
    ProxyJump eve

Host *
    User fulano
    Compression yes
