# Any configuration value is only changed the first time it is set.
# Thus, host-specific definitions should be at the beginning of the
# configuration file, and defaults at the end.

Host antp eve
    HostName 143.107.58.80
    User fulano

Host antp
    Port 2222

Host *
    Compression yes
