export(ordered_keep_levels)
export(excel_cols)
export(extract_and_format)
export(hash)
export(read_sheet)
#export(cor_test)
#export(get_matrix)
#export(get_table)
#export(spearman_confint)
#export(stat_list)
#export(stat_matrix)
import(dplyr)
import(stringr)
