export(as_ordered_keep_levels)
export(construct_table)
export(hash)
export(read_sheet)
export(sheet_cols)
#export(cor_test)
#export(get_matrix)
#export(get_table)
#export(spearman_confint)
#export(stat_list)
#export(stat_matrix)
import(dplyr)
import(magrittr)
import(stringr)
